<script src="https://kit.fontawesome.com/4ee49f119e.js" crossorigin="anonymous"></script>
<div class="cardcontainer">
    {% for authorEntry in site.data.authors %}
    {% assign author = authorEntry[1] %}
    {% if author.name == "Mark Vandenwauver" or author.name == "Anne-Mie Truyen" %}
    <!-- Get variables from object as string -->
    {% capture Name %}{{ author.name | handleize }}{% endcapture %}
    {% capture Image %}{{ author.avatar | handleize }}{% endcapture %}
    {% capture Position %}{{ author.position | handleize }}{% endcapture %}
    {% capture Description %}{{ author.description | handleize }}{% endcapture %}
    {% capture LinkedIn %}{{ author.web | handleize }}{% endcapture %}
    {% capture Mail %}mailto:{{ author.email | handleize }}{% endcapture %}
    {% capture Twitter %}{{ author.twitter | handleize }}{% endcapture %}
    {% capture Github %}{{ author.github | handleize }}{% endcapture %}
    
    <div class="card-one">
        <header>
            <div class="avatar">
                <img src="{{ Image | asset_url }}" alt="{{ Name | asset_url }}" />
            </div>
        </header>

        <h3>{{ Name | asset_url }}</h3>
        <div class="desc">
            <b>{{ Position | asset_url }}</b>
            <br><br>
            {{ Description | asset_url }}
        </div>

        <footer>
            <a href="{{ LinkedIn | asset_url }}"><i class="fa fa-linkedin"></i></a>
            <a href="{{ Mail | asset_url }}"><i class="fa fa-envelope"></i></a>
            <!-- Check if author has twitter -->
            {% if author.twitter != null and author.twitter != "" %}
            <a href="{{ Twitter | asset_url }}"><i class="fa fa-twitter"></i></a>
            {% endif %}
            <!-- Check if author has Github -->
            {% if author.github != null and author.github != "" %}
            <a href="{{ Github | asset_url }}"><i class="fa fa-github"></i></a>
            {% endif %}
        </footer>
    </div>
    {% endif %}
    {% endfor %}
</div>